src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/classes/
target/
.project
.settings/
.metadata/
.classpath
.svn/
*patch
.DS_Store
*~
TAGS
nbproject
out
*.pyc
*.pyo
.*.crc
*.tsv
.*.swp
output/
*.png
MANIFEST*
.directory
*.~lock*
dist/
*.pid
*.log
nohup.out
datafiles/
log/
